:root {
  --primary-color: ;
  --secondary-color: ;
  --background-color: #1a1a1a;
  --background-color-2: #caff33;
  --background-color-3: #22251b;
  --text-color: #fff;
  --text-color-2: #1c1c1c;
  --text-color-3: #e4e4e7;
  --text-color-4: #b3b3b3;
  --border-color: #262626;
}
// font-family: "Lexend", sans-serif;
// font-family: "Inter", sans-serif;
