.product-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  padding: 150px 0px;
  &__logo-text,
  &__logo-span,
  &__text {
    font-family: "Lexend", sans-serif;
  }
  &__wrapper {
    display: flex;
    align-items: flex-end;
  }
  &__wrapper-block {
    display: flex;
    align-items: flex-end;
    gap: 340px;
    align-self: stretch;
  }
  &__wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
  &__logo-text {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
  }
  &__logo-span {
    color: var(--background-color-2);
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
  }
  &__text {
    color: var(--text-color-4);
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
  }
  &__button-container {
    border-radius: 82px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
  }
  &__button-indiv,
  &__button-business {
    font-family: "Lexend", sans-serif;
    color: var(--text-color);
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    background-color: inherit;
    border: none;

    &:focus {
      background: var(--background-color-2);
      color: var(--text-color-2);
      border-radius: 140px;
    }
  }
}
.article-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  position: relative;
  &__article-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: "Lexend", sans-serif;
    width: 466px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
  }
  &__article-block:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--border-color);
  }
  &__article-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__logo {
    color: var(--text-color);
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
  }
  &__article-block-text {
    color: var(--text-color-4);
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
  }
}
